.themesection_title {
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 8rem;
}

.text-center {
    text-align: center;
}

.color-white {
    color: #fff;
}

.box-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 35px 22px;
    width: 100%;
}

.box-container2 {
    align-items: center;
    display: flex;

    flex-direction: column;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 35px;
    padding-left: 22px;
    padding-right: 22px;
    width: 100%;
}

@media screen and (min-width:1380px) {

    .box-container,
    .box-container2 {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;
    }
}

.box-item {
    position: relative;
    -webkit-backface-visibility: hidden;
    width: 360px;
    margin-bottom: 3px;
    max-width: 100%;
    cursor: pointer;
    /* 8 */
}

.flip-box {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    margin-bottom: 10px;

}

.flip-box-front,
.flip-box-back {
    background-color: rgb(34, 34, 34);
    box-shadow: 0 0 10px 0 #E13B3C;


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    min-height: 475px;
    -ms-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    -webkit-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box .inner {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 30px;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;

    transform: translateY(-50%) translateZ(60px) scale(.94);
    -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
    -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
    top: 50%;
}

.inner>h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 20px;

}

.flip-box-icon {
    width: 75px;
    margin-bottom: 30px;
}


.flip-box-header {
    font-size: 34px;
}

.flip-box p {
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
}

.flip-box-img {
    margin-top: 25px;
    width: 50px;
}

.flip-box-button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 20px;
    text-transform: uppercase;
}

@media screen and (max-width:768px) {
    .box-item {
        margin-bottom: 4rem;
    }

    .box-container2 {
        padding-top: 0px;
    }

}