.hack4bengal__section9 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    font-family: 'Poppins';
}

.hack4bengal__section9-boxtitle,
.hack4bengal__section9-box,
.hack4bengal__section9-title {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.hack4bengal__section9-description {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.hack4bengal__section9-body {
    display: flex;
    flex-direction: row;
}

.hack4bengal__section9-title1 {
    font-style: medium;
    font-weight: 470;
    font-size: 48px;
    line-height: 82px;
    text-align: center;
    letter-spacing: 1px;

}

.hack4bengal__section9-title2 {
    font-style: medium;
    font-weight: 370;
    font-size: 40px;
    line-height: 82px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 1rem;

}

.hack4bengal__section9-box {
    width: 40%;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /*   background-color: #222222; */
    justify-content: center;
    padding: 4rem;
    border-radius: 40px;
    margin: 2rem 0;

    background: rgba(34, 34, 34, 0.25);
    box-shadow: 0 8px 32px 0 rgba(237, 238, 244, 0.37);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    cursor: pointer;
}

.hack4bengal__section9-box:hover {

    box-shadow: 0 8px 32px 0 rgba(135, 33, 31, 0.57);
}



.hack4bengal__section9-boxtitle {
    font-size: 30px;
    font-style: normal;
    margin: 1rem 0;
    padding-bottom: 3%;
    color: #E13B3C;
    font-weight: 600;
    text-align: center;
}

.hack4bengal__section9-title hr {
    width: 10%;
    margin: auto;
    border: 1px solid #E13B3C;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1000px) {
    .hack4bengal__section9-box {
        width: 80%;
    }
}

@media screen and (max-width: 650px) {
    .hack4bengal__section9-title1 {
        font-size: 36px;
        line-height: normal;
    }

    .hack4bengal__section9-title2 {
        line-height: normal;
        font-size: 16px;
    }

    .hack4bengal__section9-box {
        width: 100%;
        padding: 3.5rem;
    }

    .hack4bengal__section9-boxtitle {
        font-size: 24px;
    }

    .hack4bengal__section9-boxInfo {
        font-size: 16px;
    }
}