#process {
  margin-bottom: 40px;
  margin-top: 120px;
  overflow-x: hidden;
  
}

#process .section-heading {
  margin-bottom: 40px;
}


.steps-pane{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.pane-warp {
  height: 140px;
  width: 25px;
  margin-left: 20%;
  margin-top: 20px;

}

.steps-pane {
  height: 140px;
  width: 140px;
  margin-left: 30px;
  border-right: 1px solid rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.1);
  /* box-shadow: 7px 0px 5px rgba(255,255,255,0.1); */
  
}

.inverted-pane-warp {
  height: 140px;
  width: 25px;
  margin-left: 20%;
  

}

.inverted-steps-pane {
  height: 140px;
  width: 140px;
  background: rgba(255,255,255,0.1);
  margin-left: 30px;
  /* box-shadow: 7px 0px 5px rgba(255,255,255,0.1); */
  
}

.inverted-steps-pane p {

  padding: 20px 10px 10px 10px;
}

@media(min-width: 900px) {
  .steps-timeline {
    border-top: 5px double #ff1717;
    padding-top: 20px;
    margin-top: 100px;
    margin-left: 3%;
    margin-right: 3%;
  }
  .steps-one,
  .steps-two,
  .steps-three,
  .steps-four,
  .steps-five {
    float: left;
    width: 20%;
    margin-top: -47px;
  }
  .step-wrap {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: transparent;
    margin-left: 39%;
    border: 2px solid #ff1717;
  }
  .verticle-line {
    position: absolute;
    height: 57px;
    width: 5px;
    margin-left: 10px;
    /* margin-top: 10px; */
  }
  .steps-stops {
    height: 25px;
    width: 25px;
    margin: 11px 10.1px;
    border-radius: 50%;
    background: #ff1717;
  }
  .end-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    margin-top: 19px;
    margin-left: -10px;
  }
  .inverted-end-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    margin-top: 19px;
    margin-left: 18.1%;
  }
  h3{
    text-align: center;
    padding-bottom: 15px;
    /* margin-top: 40px; */
  }
}

@media(max-width: 899px) {
    #process{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
  #process .container-fluid {
    width: 50%;
  }
  .steps-timeline {
    border-left: 5px double #ff1717;
    margin-left: 35px;
  }
  .steps-one,
  .steps-two,
  .steps-three,
  .steps-four,
  .steps-five {
    margin-left: -25px;
  }
  .step-wrap,
  .steps-stops {
    float: left;
  }
  .steps-timeline {
    border-left: 2px solid;
    margin-left: 30px;
  }
  .pane-warp {
    margin-left: 30%;
  }
  .inverted-pane-warp {
    margin-left: 30%;
  }
  .verticle-line {
    position: absolute;
    width: 125px;
    height: 5px;
    margin-left: 5px;
    margin-top: 10px;
  }
  .steps-stops {
    height: 25px;
    width: 25px;
    margin: 11px 10px;
    border-radius: 50%;
    background: #ff1717;
  }
  .step-wrap {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: transparent;
    margin-top: 125px;
    margin-left: -2px;
    border: 2px solid #ff1717;
  }
  .end-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    /* margin-top: -45px; */
    margin-left: 15px;
  }
  .inverted-end-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    margin-top: 280px;
    margin-left: 15px;
  }
}

@media (max-width: 600px) {
  #process .container-fluid {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .verticle-line {
    width: 105px;
  }
}

.back-orange {
  background: #ff1717;
}

.back-blue {
  background: #ff5757;
}