.neweventcard_main {

  background-color: #242424;
  border: 1px solid #ff1717;
  border-radius: 20px;
  min-width: 400px;
  max-width: 400px;
}

.neweventcard_main img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: contain;

  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .neweventcard_main {
    min-width: 340px;
    max-width: 340px;
  }
}