* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}



@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media screen and (min-width: 768px) {
  .container {
      max-width: 768px;
  }
  }
  @media screen and (min-width: 1024px) {
.container {
    max-width: 1024px;
}
}
@media screen and (min-width: 1280px) {
  .container {
      max-width: 1280px;
  }
  }

  @media screen and (min-width: 1536px) {
    .container {
      max-width: 1536px;
  }
  }
  
.container {
    width: 100%;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
body {
  background: var(--color-bg);
}

.background__bg {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.section__padding {
  padding: 2rem 8rem;
}
.section__margin {
  margin: 4rem 6rem;
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 2rem;
  }
  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 2rem 2rem;
  }
  .section__margin {
    margin: 2rem 2rem;
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}